::-webkit-scrollbar{
    display: none;
}
img {
    width: 1em;
    vertical-align: middle;
    margin-bottom: 5px;
}
.chat {
    overflow-y: scroll;
    height: 100vh;
    z-index: 1;
}
.message {
    font-size: large;
    word-wrap: break-word;
    word-break: break-word;
    align-content: center;

    width: 100%;
    margin-bottom: 0.4vh;
    margin-left: 0.35vh;
    padding: 0.8vh;
    background-color: rgba(22, 22, 22, 0.753);
    border: 10%;
}

.message img {
    width: 1em;
    padding-right: 0.3vw;
}

.user-name{
    mix-blend-mode: difference;
}
.user-message {
    color: rgb(255, 255, 255);
}
.user-message img {
    width: 2.3vh;
}