::-webkit-scrollbar{
    display: none;
}
img {
    width: 0.8em;
    padding-right: 0.5%;
    vertical-align: middle;
    margin-bottom: 5px;
}

.message {
    font-size: 0.6em;
    word-wrap: break-word;
    word-break: break-word;
    width: 90%;
    margin-bottom: 10px;
    margin-left: 6px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.199);
}

.user-message img {
    width: 1.2em;
}