:root {
  overflow: hidden;
}
.chat-container{
  text-align: left;
}

.user-message{
  font-size: 26px
}
.user-name {
  font-size: 28px
}
.badges IMG {
  display: inline-flex;
  align-self: center;
  justify-self: center;
  width: 24px;
  padding: 2px;
}