::-webkit-scrollbar{
    display: none;
}
.chat {
    overflow-y: scroll;
    height: 98.5vh;
    z-index: 1;
}

@media (max-width: 900px) {
    img {
        vertical-align: middle;
    }

    .message {
        font-size: 2.5rem;
        word-wrap: break-word;
        word-break: break-word;
    
        width: 96%;
        margin: 0.3rem;
        padding: 0.35rem;
        border: 10%;
        border-radius: 8px;
    }
    .badges img {
        width: 2.3rem;
        padding-right: 0.3rem;

    }
    .user-message img {
        width: 1.4em;
    }
    .user-pronouns {
        color: white;
        font-size: 1.5rem;
        vertical-align: middle;

        border-color: white;
        border-style: solid;
        border-radius: 0.6rem 0.2rem;

        background-color: green;

        padding-left: 0.1rem;
        padding-right: 0.5rem;
        
        margin-right: 0.2rem;
        margin-left: 0.2rem;
    }
    .user-name{
        vertical-align: middle;
    }
}
@media (min-width: 901px) {
    img {
        vertical-align: middle;
    }

    .message {
        font-size: 1.2rem;
        word-wrap: break-word;
        word-break: break-word;
    
        width: 96%;
        margin: 0.3rem;
        padding: 0.35rem;
        border: 10%;
        border-radius: 8px;
    }
    .badges img {
        width: 1.3rem;
        padding-right: 0.3rem;
    }
    .user-message img {
        width: 1.2em;
    }
    .user-pronouns {
        color: white;
        font-size: 0.7rem;

        border-color: white;
        border-style: solid;
        border-radius: 0.4rem 0.2rem;

        background-color: green;

        padding-left: 0.1rem;
        padding-right: 0.5rem;

        margin-right: 0.2rem;
        margin-left: 0.2rem;
    }
}
.user-name{
    font-size: 1rem;
    vertical-align:  baseline;
    mix-blend-mode: lighten;
}
.user-message {
    color: rgb(255, 255, 255);
}
