:root {
  --purple: #d457f3;
  --orange: #f4b14f;
}

#overlayBlock {
    display:  flex;
    height: 98vh;
    font-size: 28pt;

    --angle: 0deg;
    border: 1vmin solid;
    border-image: conic-gradient(from var(--angle), var(--purple), var(--orange), var(--purple)) 1;
    
    animation: 10s rotate linear infinite;
}

#leftside {
    flex: 3;
    --angle: 0deg;
    border-right: 1vmin solid;
    border-image: linear-gradient(var(--angle), var(--purple), var(--orange)) 1;
    
    animation: 10s rotate linear infinite;
  }

#webcam {
    --angle: 0deg;
    border-top: 1vmin solid;
    border-image: linear-gradient(var(--angle), var(--purple), var(--orange)) 1;
    
    animation: 10s rotate linear infinite;
  }

#rightside {
    flex: 14;
}

#screen {
    --angle: 0deg;
    border-bottom: 1vmin solid;
    border-image: linear-gradient(var(--angle), var(--purple), var(--orange)) 1;
    
    animation: 15s rotate linear infinite;
  }
  
@keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }